name: Tests
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
        php-version: ["7.1", "7.2", "7.3", "7.4", "8.0", "8.1", "8.2", "8.3", "8.4", "8.5"]
        psr7: [
          "laminas/laminas-diactoros:^3.0",
          "zendframework/zend-diactoros:^1.0",
          "zendframework/zend-diactoros:^2.0",
          "nyholm/psr7",
          "slim/psr7",
          "slim/slim:^3.0",
          "guzzlehttp/psr7"
        ]
        exclude:
          - psr7: "laminas/laminas-diactoros:^3.0""
            php-version: 7.1
          - psr7: "laminas/laminas-diactoros:^3.0""
            php-version: 7.2
          - psr7: "laminas/laminas-diactoros:^3.0""
            php-version: 7.3
          - psr7: "laminas/laminas-diactoros:^3.0""
            php-version: 7.4
          - psr7: "zendframework/zend-diactoros:^1.0"
            php-version: 8.1
          - psr7: "zendframework/zend-diactoros:^1.0"
            php-version: 8.2
          - psr7: "zendframework/zend-diactoros:^1.0"
            php-version: 8.3
          - psr7: "zendframework/zend-diactoros:^1.0"
            php-version: 8.4
          - psr7: "zendframework/zend-diactoros:^1.0"
            php-version: 8.5
          - psr7: "zendframework/zend-diactoros:^2.0"
            php-version: 8.0
          - psr7: "zendframework/zend-diactoros:^2.0"
            php-version: 8.1
          - psr7: "zendframework/zend-diactoros:^2.0"
            php-version: 8.2
          - psr7: "zendframework/zend-diactoros:^2.0"
            php-version: 8.3
          - psr7: "zendframework/zend-diactoros:^2.0"
            php-version: 8.4
          - psr7: "zendframework/zend-diactoros:^2.0"
            php-version: 8.5
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup PHP and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: gmp
          coverage: xdebug
          #coverage: pcov
      - name: Set composer cache
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          #key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Install dependencies
        run: |
          composer require --no-progress ${{ matrix.psr7 }}
          composer install --no-progress --prefer-dist --optimize-autoloader
      - name: Run linter
        run: make lint
      - name: Run unit tests
        run: make unit
      # - name: Run static analysis
      #   run: make static
      - name: Upload coverage
        uses: codecov/codecov-action@v1
